<div class="container mt-4 mb-4">
  <div class="allcards">
    @for (tache of lestaches; track $index) {

    <div class="card">
      <h4>{{ tache.titre }}</h4>
      <p>{{ tache.contenu }}</p>
      <div class="actions">
        @if (tache.realise) {

        <button class="btn btn-success w-100">Réalisé</button>
        }@else {

        <button class="btn btn-danger w-100">Non Réalisé</button>
        }
        <div class="d-flex justify-content-between edit-delete-actions">
          <button [routerLink]="['/edit',tache.id]" >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button (click)="supression(tache.id)">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
