<div class="container mt-4">
  <div class="alert alert-primary text-center">Ajout d'une tâche</div>
  <div class="w-75 m-auto">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" />
      <label for="floatingInput">Titre</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" />
      <label for="floatingInput">Contenu</label>
    </div>
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid">
        <option selected value="false">Non Résolu</option>
        <option value="true">Résolu</option>

      </select>
      <label for="floatingSelectGrid">L'etat</label>
    </div>
  </div>
</div>
